*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.pai {
    background-color: #ff9934;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 56px;
}

.nav {
    background-color: #ffc018;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-link {
    background-color: #cde54e;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.button-link:hover {
    filter: invert(1);
}